<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>19D22EEE-3389-4724-836A-B2D5CCA4BC8C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E54BFD6-3112-45A6-BBFE-18283A6B738C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2499FE6C-AC81-4069-90C0-303D04140F87</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7CBA374C-E6D4-4F3E-B960-2D021B7502C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>89A880B2-6573-4BB0-9344-4AFE8E235352</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD2C61ED-3A45-419B-83B5-BFF5382FA008</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F29284E8-CC59-4038-85B8-72624D035C41</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>14 366 1000 672 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
