<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 644}}</string>
		<string>{{266, 0}, {734, 644}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>59BEFF22-C83B-4AD6-A6F8-E635FCE7F276</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65EC8165-B5F8-4159-A977-422EB34DF017</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>810B7B26-C38D-4E92-9587-4DF9446889AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90B7DB50-2AC9-433C-9956-95A398C57CD0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0A6880C-1698-4E03-A767-5374C9895221</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 634}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 6}, {620, 558}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>172 310 1000 672 0 0 1680 1025 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
