<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Desktop/blogs/guitarvydas.github.io/_new</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {266, 650}}</string>
		<string>{{267, 0}, {979, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>05042DFB-6A6F-4C70-BAB4-60FBDA42E188</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>38DFE477-1C3A-4EFE-897C-5DFE8A731644</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53B45B02-BF6B-4DA9-94FB-EB75B7D3B82B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A73833E-B584-4548-9FB2-479A2838F90A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>754A0C28-68FB-43EE-B57E-D3A9CBAA0964</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DAA5002-E5E7-41A3-B2A0-2BF18BD325CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4511EA4-5882-40E1-BF6F-7DDA765A7DDB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B82A29E8-FBC7-4526-9032-EE9F99594625</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {733.5, 620}}</string>
		<string>{{734.5, 0}, {244.5, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>21 183 1246 672 0 0 1440 878 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
