<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 644}}</string>
		<string>{{266, 0}, {980, 644}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>084F4187-06B8-4822-B68E-BF2E5701E96D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>665C508C-2467-4CDC-AFCD-5573508E1073</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE0EB1C7-3B3A-4ABF-A66C-9F148469EE9E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 614}}</string>
		<string>{{735, 0}, {245, 614}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 372}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2326 -96 1246 672 -3000 -292 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
