<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {206, 891}}</string>
		<string>{{207, 0}, {1007, 891}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>099A2947-D23B-477B-AEBD-1B193D3B217F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A4CCF6E-DF7D-41EB-B787-B1760A159F86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DDD64B6-5E6E-4B6F-84F9-50004A7F62A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0EAD066B-433E-4D90-B507-71A3D62DE740</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>128DAE10-3D53-41AE-A341-C70587AF7E65</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D47798A-248C-4A4F-BDFC-4640F3B6B5BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E879572-7AB3-45D3-A671-1049E9AF4B88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>23CB459F-A61A-4A17-8541-3B34FD80275E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>279EEEA7-9476-4BB3-80FC-95F454C003CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F0E1604-784B-4BBC-9F3C-32406DCB25C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>333A1A84-1C91-450C-975A-BBAB4CA6294B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39FDD3F3-9A39-4CAC-939D-988B71D38720</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3E9710B7-A519-4CC0-AE81-BAD3A6C996AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>463CD213-CF47-44F6-AC7C-3DC78446F1FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>493705A7-E9F6-48B8-B074-EE4F5F8B6DBD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ADE7A35-4C98-4DF1-8EDF-9EEBBEF66605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D4AC575-94DB-47AC-87D3-ACD0DCD4DCBE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60502910-0E8B-453A-93F4-9E9384E1639B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B29BBE8-5319-44BE-94C5-EB97D0BFFB78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BC7C6EC-092B-4906-9FB6-D14A988B0F40</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D5BAD4B-E6BC-44A3-88EB-EB05101022D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DEFDC35-492F-441F-9C51-D9F2F768EA20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94210647-9045-4F07-98A2-10F1E7F82CEB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>972D4EAA-EB45-40C5-904E-CE4EC00FA9DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4A6E88B-A192-482B-BC7F-8C6FD0D51ACA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A515649B-31F2-4404-A16D-7ED4187C775A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA1CE867-1126-484C-9C48-20F88F6ACFBC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC31B55D-1119-4BA1-B301-9A48A0FA4384</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD677E22-F50B-486E-A617-3F994105681B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4541D0F-9A8D-4C38-9D23-2705F9EAA936</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E79BFB82-274C-41E5-B7A2-D40845A08179</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F262BF1C-72BC-4CA5-AE4D-DDC5C50606BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC4AC189-137E-4C40-9C60-36B35730AA19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{566, 0}, {566, 718}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {761, 861}}</string>
		<string>{{762, 0}, {245, 861}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {497.33333333333331, 536.66666666666663}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>260 121 1214 919 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
