<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {266, 644}}</string>
		<string>{{267, 0}, {979, 644}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>028A45BF-05C9-4D2A-80A4-6B56DE9854C2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11873D43-EB88-4690-AA15-A727D0284F6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1592C52D-0CDF-4DF4-8A88-7F6313EF8557</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16A89E3C-2DA4-4E04-8A22-E56E24ACF06E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19E74136-41FD-4E5A-9736-81402D55F41A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2052E1C0-4C78-466A-93D5-E308FB34051B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2705C919-387C-4E89-B899-BF81C7A545DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A855068-3591-4197-8CA6-6C24C0371900</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F458E8B-D13C-47B5-B6E9-0A44E5F252E1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>34B5B3CC-4C7C-49B0-99C4-9C98EE4EF36B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F8CEF48-904A-4A9F-B4CF-029CD62815A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>432CEEB0-7387-4C13-B0E6-AF7848E15449</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B1344DA-CD55-46A4-B807-3F508EF63EA0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53CDBFAF-B5B7-4239-923B-A721512120A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5721113C-E9B3-4729-B2B0-83D69BA42ACF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64298600-2125-40B5-8CC3-DC38F5D2804C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D445450-38ED-453C-A68B-E1BBD8C47A4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>803AE3B7-D828-458C-821C-227ABBD72F82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8BA600A3-96A2-4D8E-A055-B2800B3E2E04</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9C2F777B-4A72-4E85-9746-17B6750C7E28</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9DA826DF-CA71-4320-9047-68EA68D893F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AAEF01C9-652C-479D-ABCC-11C328F1B5E5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B076414D-DBFF-43F3-9860-F66F60F38490</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C0B61F9E-60D8-4EB4-87BF-EA91CBB3A1D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5819869-1968-434F-A637-30A2371F060C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF9A9A34-8E3C-48DC-A2E3-D49568799F2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF00395F-F34D-4DCB-A12E-F264C16F653E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F17076F6-1F2B-4A31-BC1E-A771DDBC9645</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F3573746-EE52-411D-8AD3-D7DFF98E2CCE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 614}}</string>
		<string>{{735, 0}, {244, 614}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 372}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2444 166 1246 672 -3000 -42 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
