<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/temp</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {207, 661}}</string>
		<string>{{208, 0}, {872, 661}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>001E51A8-6E87-4EEA-9494-6B7392F494F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>01E75A77-0DD6-4F16-956E-825AD64FD768</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0218D425-02E1-4432-A787-AF7B603D378E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>04319635-AE4D-427A-9764-67315B628311</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A046958-5CA3-46BA-B7D0-F11E1874517B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0C7B7171-5F57-40B8-AF5F-7E3ED0ED6B19</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1041C9CF-39E5-4819-BE30-3106C9F7363A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11C85568-68C5-4365-BB86-46F4F9B05D0D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12035707-CCDC-45D0-BE26-F5F541CC07FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>146F1F6C-FFE0-43E0-9489-EC01403D40A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16802BF5-FBE4-4BEB-8A54-54677D9A7A03</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>17D0A89A-8EB4-4FD0-B164-3B2E72650110</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>181E9418-75A3-4665-B0D2-A850915ACB53</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1916E32E-6CF6-40BA-B651-7058530C24E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1AFE198A-F08C-4C13-AF05-A063CD1F9FF3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20C738B5-235D-46E1-BF0F-934FC6C97E1B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>23383C78-DEB0-45BE-AAC8-D47FC3C68C70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27A9C5FF-6048-4033-B98B-82FB778CDFAA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>27E3FAF1-ED16-46ED-A066-76B9882AFC25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2902D4B3-C505-458A-838F-3083FABA62FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>29A99407-8047-4A28-BFE3-FEBA75767754</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2EA5E0CA-4044-408F-B567-C66E24068CF6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FC88FFA-9527-444D-9515-FA27E6621265</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3D2754CC-8833-4716-97D6-6BEE4B2130C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40789088-688D-40ED-8BFA-5DDBAE214113</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46A93396-1884-421A-8715-433C8BA7F202</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>483B00AA-C87B-4F5B-A5EA-8A8EDDE668A0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4AFAC935-4607-48A2-9AEF-FE9C7189FF0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4C75D780-BE2A-4D21-AB06-0A844688AF8E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4F40D9FE-7B6B-42EE-ADA0-44C3EF084595</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>519C015F-E6F6-4D89-914E-0857A2E786D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51EAD35B-7FBD-4D0C-B726-CB404037530E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53EDC076-1901-491D-A550-4084B9506EA7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>618C502C-223C-4AFB-AD77-4E7A7EAE0E57</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62124DBB-06D9-45A4-9613-6F7B1B94AA14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62A5928D-A3BD-4193-808B-A75FF325E07E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6822FBB2-08C0-42E4-A0DD-0939D4FC9A78</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6B174F75-33F1-4617-830C-EA5BF290434B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C2C99BF-4367-4606-A699-2A0A3F7FFAEC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7026CC53-9F64-48DC-B7AF-72768E23FF6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>702B50A7-60C7-432D-B2D4-569F721ED586</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>703867BE-60DC-40D0-B2C3-62D4FDEB3DCD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75E1FF29-8C43-4861-8D2B-83BD32F02567</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7966AD90-D21D-4F01-B8E9-F1639AC7643E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D152A01-D1AD-4ED2-AC63-28A11F6E7CDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8007AF85-5E55-4448-BA58-54C678A680BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>801F83F9-7711-4891-9FC1-8925B9539D6B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>828A2EBD-D59D-41E5-AD1F-7DBC3319444F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>834DC721-E645-4FA9-BFBF-D40EFD1AE7C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>843BB559-71A9-4BAD-82AB-A8C60DCB72A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>88FCEF7C-E8C2-442C-92B1-20FE0C134DC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>893265FC-C9AA-46B1-B90E-73ABDF2477F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8B959234-8F2F-47FB-B9DC-DCCC765AD2AA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F6DDA0A-E803-43B9-99BC-BE571FFA9572</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9149721D-F356-495B-A76E-BE841DC63CF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>917254F3-4550-48CE-85F9-D33A8B5F1DDF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>920A8D00-7EE6-4170-800F-B13B13B06E04</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9F0EF89F-47B0-4A2B-8641-31F011644958</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0579965-9CE7-4E71-AF94-03556D32BAE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A380126F-8CD0-4C29-A1E4-9B40A25148EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7BC2C28-8274-491D-AAD0-1C8C91424995</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7F01925-E00E-479E-BF96-96893281EA12</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB367BE2-F694-4C35-B028-59CE535E4822</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE5B6187-4466-4C83-B5EF-0482E7A87E9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5348FB9-CFF2-4FFF-A2FC-CCCDB754AC4F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9BDDC39-E3A4-4B1B-8858-17685E502477</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BAAD7A9A-0141-4D4B-8759-55B4F6E06B9F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCB25AE9-E714-4182-8326-A2B9EE195A3E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE5826A5-48F1-49B1-8D05-45A86C903D27</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE871AFD-CADA-4F1A-8633-01560C892770</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BEA0F589-E231-411B-9E2D-E26DFD94DB0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C68D3A1A-E862-41AE-A2C6-F6EA831C0C16</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9A4FDED-5394-43D2-9FBC-84AD8AA9D826</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD75FF43-60CE-40C1-A84E-3C45F24CA192</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF61EA49-3DBC-42A5-8205-C10D0C51CAAC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D9EED353-0E9C-4AD5-B996-00DE58EC7BC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB6BC686-AB44-49EE-B5FF-F668BE4FB715</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCD0C553-D17D-4E60-80E8-939A7ADDFDAF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF76F3B3-8DCC-4155-A4A9-7FA8B0CF65B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F1BCE784-F66E-4D5C-A70D-1105CC590356</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5967670-94D5-40B9-8445-7B40FCCCFFEC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA8F1834-CE09-44B9-972C-EF60C32B0EED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAB567F4-CB6D-4341-95BD-8FBF7DD40353</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF74B8B6-8DCF-4B42-B882-6674893D7CD2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {626, 631}}</string>
		<string>{{627, 0}, {245, 631}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{67.333333333333329, 70.666666666666686}, {407.33333333333331, 373.33333333333331}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>617 366 1080 689 0 0 1920 1055 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
