<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>6F001C07-3A72-44B2-BA9A-25542B949349</key>
		<dict>
			<key>BinderUUID</key>
			<string>6F001C07-3A72-44B2-BA9A-25542B949349</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>963</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>317 40 963 730 0 0 1280 777 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {876, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>08323C21-E04C-4DA4-AD12-6EAA4DB11E2C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B9525DF-185A-458A-9078-0735A4A4D417</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F71DF62-FF70-42A1-8CBD-3D5267FC9075</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A06A483-EA41-4C00-85C0-F1004632EDF1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20AE905E-A88B-43B1-ACE9-2B2AA5F00B1C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2756F96B-37CF-45C3-9CB5-7BE23F3F5074</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>279AE4B0-9D17-4712-9FEF-8DEE956118F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A8DB495-CF6F-42B7-93B3-4E8CA8CE9169</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2FEDBFDD-D828-4F3A-8BA2-6002EE4EBC5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>433E7553-BE7C-4EFC-95D1-A2392B231786</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A40117E-9A00-4528-9317-546D0E26E5BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D25AA4B-D993-4664-9395-78B07F66DF0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4ED2F6E5-6DA5-4D23-BF93-62B0C5B02226</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>650A0CE4-7851-47A4-BEC1-F58614EE4A0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A5467AE-0813-4E3C-9461-8437FA635AC1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6C9BC801-5D42-4153-9E5F-6AE3C20A086B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F001C07-3A72-44B2-BA9A-25542B949349</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F84AA4C-74AE-4080-83B2-84C298870A90</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73464502-0039-4F95-A837-116BF4747ABA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7AB8772A-1D70-4822-A779-0CC6E73672F2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87FD32AA-F9C2-4641-A08C-6D2329308A00</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>910361FF-A0CB-4E1D-AD65-1A512402E264</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94DC9618-A604-4732-803A-68BAF018AAF4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B120CFBC-E9AC-4EF3-99EF-7709D60BE4FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B970BE3A-837C-4DBB-A628-61FE5BC1EFAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB55A752-7774-477D-9427-E0079A195826</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C15DF378-9FBE-415F-AE95-29FEFC4F1682</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2F621C7-C5C2-49ED-BE06-80352D47FD43</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFC01E63-E680-4810-85A3-FC36B440BC48</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D0666CCA-389E-4989-8BBA-C790C0275D64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2C5C8C7-C0BA-4343-9285-E964833016F5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E6B99D0A-5864-4B9F-8EBE-452F95852FBA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8A528B4-8C22-4C94-AA6F-58D0F7A0AEF9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA54CFB3-799E-43AD-B538-A25662B1ABA1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FDDC0EEE-FF8F-4BA2-B322-3D2B7CC59FAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {574, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 105 1142 672 0 0 1280 777 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
