<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {273, 644}}</string>
		<string>{{274, 0}, {1409, 644}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0D618872-4D7D-42F9-829D-C78943C985C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>49E708DA-44EE-4C26-8F4F-34314DB7E0F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55ED24EC-737D-4C1B-909B-8F1259B86F91</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A2E6208-4D65-47F1-8779-B31E6959C5B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC5ECF48-06A0-4754-A6F7-5677D14C7C25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F95F22E7-DDE9-4A4F-AC8C-0443E9F4C648</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1163, 614}}</string>
		<string>{{1164, 0}, {245, 614}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 372}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>196 383 1683 672 0 0 1920 1055 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
