<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0027F540-FC82-4FB7-816F-73B659FA958B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6CE9758E-8D0B-4D0C-9E48-20E1CE56AD11</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE2F8CAE-336F-41CB-B08B-48B3AE0AF09E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CD5B19A7-DDF8-4DD0-8DC1-6FF6D9FB5A22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D5E2E5DC-5B91-4ED9-99C8-A054981E38BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E23D2930-2FFA-4FCF-B905-F8FD3BCA8A66</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {384, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>739 169 1000 672 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
