<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {230, 650}}</string>
		<string>{{231, 0}, {849, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>200168A7-7D9E-411A-947E-29AFF2749E57</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2643D563-D18D-4405-8FE5-9A1C44F61E50</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>288BA1E4-BFC3-407A-9F41-B318BB0A99CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2C61086D-499E-4CC4-8C76-805DDC352C23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D3BF9C7-75DC-444F-AECC-095CF57719D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4FB7EE53-5E4E-4A7F-A144-A6A573BB2AF8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4FCF0FFB-6C67-4168-839E-91547C1CD1D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>553C649F-E2DE-4DCF-B23E-4E0897175095</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>568E5C84-10AB-4EDE-9AB6-5D3BEC51EF51</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>69F0C30D-FADC-40B2-88BA-5F1C425CBEAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>71DCDEF6-DE0A-4A8C-9A65-B9F9955C5AAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72F82AB1-3618-4BA6-B7BB-8643CF445DCB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>767643CB-D959-4B02-8F88-7263D334FA87</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7DA3AAEA-6C17-4E3C-97BD-4BF06027D1F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86A9F376-EF35-4041-AA7C-36ACA08A6A21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F3342E3-8F01-4EBE-8367-6A67D6897D88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>907F8A57-A629-4E64-88AB-214C7178DABF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>973AA75B-90B1-4E62-A426-8677B9A42BF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A0B4B48-C355-448A-9E1D-CC6BDAF59DAD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2E53C5B-BC6E-46BF-B98D-D66AAC122A05</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3175E76-740D-4D72-BC79-CBE576019206</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFFBE117-5590-4DFE-8188-746B81EB109A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C100AB56-DA0B-4765-80B8-2A1B372D2869</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBD0ACE2-AE74-4B5D-8706-0614FFEC923E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E78E1ABC-ED26-484C-9FF4-521A81EE96C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9282C24-C5D7-4CE3-8DB0-2FAE9E11F40F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB621FCA-1689-44DB-8573-5A0D972F8D21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F29BD965-4EB7-4306-B9F8-1D0D5F12D9B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F386F4F6-6AD0-4E17-BE4A-AE97DCA9D578</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{367, 0}, {367, 620}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {603, 620}}</string>
		<string>{{604, 0}, {245, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {392, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>509 354 1080 672 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
