<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>C283E7B3-071F-40EB-B7A8-B212C2563D83</key>
		<dict>
			<key>BinderUUID</key>
			<string>C283E7B3-071F-40EB-B7A8-B212C2563D83</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>963</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>317 44 963 730 0 0 1280 777 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 644}}</string>
		<string>{{266, 0}, {980, 644}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>150FB5E5-AD2D-4910-A9C8-9C08493763A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2DB925D3-25B4-4868-A48F-6BA109D90105</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54313455-A7AE-40C3-A0F3-4208C44DACC1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63D65500-A000-4016-A53B-8FC22FB57297</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8E41AE26-DCD3-43CC-B614-D11D52FEE79E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C283E7B3-071F-40EB-B7A8-B212C2563D83</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5246F80-C4F3-4D9B-80C2-F709D19D5991</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED61CC9D-4D80-4C8A-9B0E-835A72FAC1EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F517E293-9FB3-411F-932E-C218E3719425</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5E12254-815F-4A5B-9EB3-DE97583635AF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 614}}</string>
		<string>{{735, 0}, {245, 614}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 372}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>196 383 1246 672 0 0 1920 1055 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
