<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {814, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>65FCF469-2DD5-42AD-874C-063BB07CFEB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A90B47B-CBDF-46A7-A826-6025B784F023</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A086EE52-9AC1-447D-9AF2-DD3628623273</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {568, 620}}</string>
		<string>{{569, 0}, {245, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 194}, {368.66666666666669, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2347 148 1080 672 -3000 -42 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
