<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>04D04F6B-D9FE-485E-AA18-3A67BC897370</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0C6554BE-5729-41E5-BF6C-8859CEF0A2F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>202E6016-F0FB-4844-A150-63B2C2C8B0EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>284A5015-AD79-481E-BF78-4504E0AD39A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33CDA493-91B8-4479-B635-85D7041D171C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68C6EA66-A86C-445D-AD17-CD0AFA4EE55E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EF117FFC-F95D-4C7F-8EC7-B1E52FB25CD8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {227, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>21 183 1000 672 0 0 1440 878 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
