<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 904}}</string>
		<string>{{266, 0}, {811, 904}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>08A9B6E6-A5FE-4C89-B2D5-0D7F7FF6877A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0C91FDBB-7F61-4911-BCEC-20676D841155</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B2C4568-C54E-4F8A-BDB7-BA5EEC5B9E40</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>366FC0C1-B9E1-4DD4-A91C-E9C3194E954C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>36D58A55-2B32-452F-9A36-8DE07621B2BB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47B90115-7A5B-4EC8-8ECE-75EC2FA3BD3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4B45280A-D426-47F2-AC70-4DA51DFE8CE7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5EB69661-CA46-4A75-9146-5342E2DB0A31</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>679909B0-21A0-40B1-A9D4-260340E89D72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B321EAC-B1DB-4C5D-A292-B8904CCA3650</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F0207BC-7D27-48F0-863D-499820E4BD22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A0A8087F-9692-41C4-A2F3-E05627885318</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AAC0DD91-E1B2-4411-BAF1-30280F63B3BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E4B4DA8C-DB0E-4C85-AE9B-AF93017CEC46</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {565, 874}}</string>
		<string>{{566, 0}, {245, 874}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 726.66666666666663}, {366.66666666666663, 545.33333333333337}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>603 93 1077 932 0 0 1680 1025 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
