<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/guitarvydas.github.io/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1280}}</string>
		<string>{{266, 0}, {734, 1280}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1.5</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>084AAB17-EA57-4480-9649-8376A3EBD447</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3EBE5272-4893-4C5A-890F-0D1EAF929887</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>40EABBBD-3BA0-44BB-B2BD-5EABCF5F8FC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4AC93B09-74E7-4376-B678-99CF21B0E569</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D66F039B-7EDB-4983-9AAD-8B8D5485BB72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E97065B0-D91E-4DBE-B2E6-581206E9B29F</key>
		<dict>
			<key>DocID</key>
			<string>40EABBBD-3BA0-44BB-B2BD-5EABCF5F8FC4</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>F8CFB5A7-52C0-4708-A1CE-4DB81B6C6E8E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{367, 0}, {367, 1250}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {227, 1270}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>1920 -245 1000 1302 1920 -840 1080 1897 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 231.33333333333334}, {479.33333333333331, 795.99999999999989}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
