<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 781}}</string>
		<string>{{266, 0}, {980, 781}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>067532F3-2096-4EAA-8191-C4A304CC0C81</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2E2616F7-7CF1-427B-9B22-C74016C80BEE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51B63EC9-78F9-4566-B5E0-4C8EF01F8F4E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56DD7D05-977E-4685-A34B-9DB1B1EA12E4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7AD785A9-CBC8-421B-B0D1-7741F704B4EE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B2DBFC5-3202-4BB7-A4C4-599690145309</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A5C2E9DC-A528-4A2A-8BC6-CB4BED4B1CD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D72FDC16-515E-40A1-BC82-5C40B1F8058A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D83DE3E5-810A-4E50-9DB8-A960839963B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {734, 751}}</string>
		<string>{{735, 0}, {245, 751}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 463.33333333333331}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2522 115 1246 809 -3000 -42 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
