<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 894}}</string>
		<string>{{266, 0}, {806, 894}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1.5</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>080199E0-45C5-4719-8843-A704DAED6714</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0A40D962-2A61-4175-A3AF-9951229B39B9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1821F9AD-AC33-401C-BFF8-0A58EF2765E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>191AB8C3-DD72-45A4-8365-2EA7CE172DA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C32FE06-2C2E-4BBF-A572-1774E2F003C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2848F9DB-8826-4601-93A5-EFD731EF0023</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>399ADF6B-CF57-4042-8291-DA09D034BCE1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45252A35-24C5-4953-B823-4EAB678BAA1B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>54E7511A-6EFF-45F0-9E50-16C4D74D86CF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>63C7CD7D-E255-4872-968B-B79ED0950942</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>73028F80-8608-4978-B1F5-7DA961956EE4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>732CEBE3-6B16-42B2-A2F8-0E76010E7EA3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>748B7968-E32A-4019-A5E4-31EDF4A6020B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7828916F-91B9-4439-8E00-D606E394D2BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F5F22BD-806D-49BB-92FC-C4EF48A6914A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8360767A-05E0-4FD5-BCB3-254D795CBE24</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F12E1B2-A5E1-4ED5-945A-D4C434DCE873</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A18C6F4C-0D09-4C0E-AE8C-14847F70E9A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4126FC3-28FB-463D-A266-FDB92E26EC01</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AAB5EB7C-28BB-48A4-A344-54FCA904A068</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B052FEB5-805D-458E-896A-44052C64A66A</key>
		<dict>
			<key>DocID</key>
			<string>748B7968-E32A-4019-A5E4-31EDF4A6020B</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>B1123F4F-ABC6-468A-8A22-38126343AFD3</key>
		<dict>
			<key>DocID</key>
			<string>D01A551B-2D72-4F91-B90C-40B0D83A150B</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>BAEB5D84-3A2B-4076-85DF-9846C6868755</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BDBAED7D-CC44-4146-BAFF-ED541A3975F0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1C4B627-4003-4A9A-AB04-25ECEB83F151</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC6AA96D-4A27-4E13-9476-D79D4FEF984D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D01A551B-2D72-4F91-B90C-40B0D83A150B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D7ACFA45-8863-40B1-A059-D474E024056C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DD65A6B9-CF54-4E00-927C-DA9CC76F977B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E7C3608B-81B3-4BA3-A80C-138AC8D564AD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{396, 0}, {396, 1220}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {560, 864}}</string>
		<string>{{561, 0}, {245, 864}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-1080 -249 1072 916 -1080 -870 1080 1897 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {363.33333333333331, 538.66666666666663}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
