<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {734, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>1D006ABE-7D5E-4EE0-AE50-D867408896C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D71690E-B864-4C56-A980-A10406AE4382</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45F88CDD-C374-41D5-A32B-C9E8F38A765B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DB6A260-819D-4919-A37E-89D1D141D997</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>61141A4F-EB05-41A6-B640-C323E57ECAD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA44B50F-DBF4-4C8D-8021-B32D011E925E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E19E4625-D36F-4BC2-9655-13A28EA407C1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {479.33333333333331, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 105 1000 672 0 0 1280 777 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
