<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>F0622DEF-83B5-4EAB-BD51-AEBA28F98DE0</key>
		<dict>
			<key>BinderUUID</key>
			<string>F0622DEF-83B5-4EAB-BD51-AEBA28F98DE0</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>963</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.5</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>317 47 963 730 0 0 1280 777 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 622}}</string>
		<string>{{176, 0}, {1092, 622}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>1036C050-0CB9-4826-9FD1-3ACA682E0AD8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2961B1B7-D649-4D0C-A7FD-79FF4A6A3ECC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CCFCC6D-018D-44E7-B4FB-5DF838E8C7FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>476F8372-E7F3-4F5C-B684-0DCDE6E7FB57</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>61B79584-4177-4023-BA0D-5BF343C62B9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66B3E577-319B-4442-A3CF-C32461FE8369</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6D936552-17A0-4AFB-82F8-B07BFE92F22F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>757F0DE2-B698-4C13-A48C-B8CA79ADD0C3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>991BE79B-D4E1-46A3-B002-35626D9A654E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A2E07CE1-447F-4797-B449-43A943FE9CCA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE7EBB54-3211-476F-8330-46E60FCD87F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4288807-DEE9-401A-AEFF-9C2338DDB255</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C0B1EBC7-C260-4CE5-911E-D27B02A11ADC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6EB6DA6-2EA3-4B1A-8BF5-EF2C43E357EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C99E908C-B655-48C5-9AEC-674DD4021B3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E3F6AE44-9F14-47D0-874D-CFE215633522</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E82C9FE1-7593-4F4B-B49D-7380EBD05957</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0622DEF-83B5-4EAB-BD51-AEBA28F98DE0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {864, 592}}</string>
		<string>{{865, 0}, {227, 592}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {566, 357.33333333333331}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 413 1268 644 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
