<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {187, 732}}</string>
		<string>{{188, 0}, {967, 732}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00A80568-85BC-4EF5-9915-34252AA26B20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E34BED5-70E8-49EB-B526-A891F4DC4871</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11F38C23-0BED-41E5-A718-FBCDC8578714</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>139AB580-B324-42D1-B7E3-5AE06897B38D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B72F0F8-D5D9-4818-815A-FE6F783951B7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>311A52FD-3F03-4A47-9391-0396A93755B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3C978BD3-009F-4D31-BECB-4CBBC7FB7771</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A1255C5-6BEE-4277-A24F-B566A7B53365</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A19978D-E97C-4D1D-A9BE-0208FBD00216</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D3AA86C-7EA3-4E85-A093-86DF9C552EEC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58A81B5A-787B-4618-8B74-9CB2C95B272C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>681615D4-1308-4958-91E0-8FDBB95B852F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>78408AE3-9C04-4C44-BA55-D299F39E956D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7C2F89A9-9CA5-440B-8650-D4F2A46C8AB9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7CDCE26C-460B-4326-8525-AECFD7A7E081</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>87EC93C0-F6D9-49FE-B7A0-0558BDCA95B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96D9F959-548A-4C76-AC10-065B3518767B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9D939A4D-CA19-4E5B-A2CD-42514CDFB678</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7BA3F59-A3EB-49CE-8A9F-BC8F3E31FFC3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA2EFD25-6D0B-4B76-A348-7CE2335B563E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ADB42514-047A-4A12-A077-37E055723273</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE85D1DD-2BE8-494D-BBA1-4FFB8F35251D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1A1FB78-FB75-4EAF-AF55-B74531CD79B1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CB75C0E4-5ECB-4E43-9A2D-CFCA605CE591</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CBD922D3-9874-49E7-BAFE-307B4760D187</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CFDEFCEE-4A64-4F04-A97F-4A620A4C8A6A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D06C1483-5DF5-4CC4-B80B-255A69ABE05F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5B59673-4E52-4480-ACF2-8FF8409F20DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB4BAA7D-E3A1-470E-A26D-441FDEF6681C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{316, 0}, {315, 864}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {739, 702}}</string>
		<string>{{740, 0}, {227, 702}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2458 151 1155 760 -3000 -42 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {482.66666666666663, 430.66666666666663}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
