<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Documents/blogs/jekyll-BLOGS/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {230, 650}}</string>
		<string>{{231, 0}, {849, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0887B61E-2BBE-4694-AD2F-EC40E60F9AE3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CF36F3E-FCB5-4A58-AEB8-2D860C24494D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6422D3CE-4E57-435F-9D7F-0C023FE7FE23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>980103FB-1C50-4CFF-BE7E-5F4AD0A64D0B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98F576CB-D638-4F83-AE63-9B6F803538BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6430BA9-DFDE-4E88-A658-8007665DF399</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9E1B11A-10D7-4F33-81D6-5A81A18B6BC3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BE06824C-98D6-43E7-B63C-2FD538615194</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C20C2BB9-859F-4FE3-9AA5-5BE319F17486</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF91BA08-FDC6-458B-A510-173B78A5A07C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB206C6D-3CC5-42E6-ADB1-20E49C91470B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {603, 620}}</string>
		<string>{{604, 0}, {245, 620}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {392, 376}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2720 -63 1246 672 -3000 -292 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
