<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/Desktop/blogs/guitarvydas.github.io/_new</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 666}}</string>
		<string>{{266, 0}, {864, 666}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>17575AF0-8DDA-469E-B91F-0FF9A2F80329</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E14692D-B413-473E-88DC-ADEC32D4DB82</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6ABE63AD-A081-4FAC-BA0E-769A4BC39626</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>70BE8635-C82A-4141-B81D-451F2C38E228</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BFA4B00-11B4-4445-931F-5C00CB1EA4CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F75A800-82E5-4E54-905A-18C66740121E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9109F5BD-ECBB-4CCF-B305-4FB974881F5B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96D61058-AE84-4801-9270-D780375D8F39</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC3E30F3-B6CE-40C3-861A-1F58E5162503</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA6A30D3-2FFA-4B6A-A216-00A169B7242F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E16ACFB5-02E4-4B96-9014-6CA91B803DD2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E30C2915-DA85-4A98-8760-1CDC63EC2C9B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAEEC503-FBD4-478A-B00C-AC0B7350A9A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB96B1A3-F796-4F4F-ADA5-616FE330FD20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EEB738CD-9458-4EE2-8E57-4B3858A0574B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F250C5CC-045A-4570-9E41-47770C786A25</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F2FDF979-A1AF-43A0-B8B3-84066A3AD1E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6D59341-6E67-476B-AB2F-DD79C3F0761D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {256, 656}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {566, 386.66666666666669}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>632 316 1130 688 0 0 1920 1057 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
