<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict/>
	<key>CompileFolder</key>
	<string>/Users/tarvydas/blogs</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {217, 644}}</string>
		<string>{{218, 0}, {1124, 644}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1.5</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>01BB529B-FCAF-41E1-83BB-695F3343FDC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>040978C3-5677-45A0-BB28-3B8C09592C4B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19BC3962-02BB-4597-A108-602D079D08CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>469385C2-8684-47EF-AB86-FB341CE453BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>546C1440-A4CA-484A-BD9A-2AA28B230497</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5D6787D7-F4EA-4F5D-8D0F-F04D90338A6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8DD43885-CF5F-4FBA-801E-196A96F0CB88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2C69458-9E60-442C-9A30-3A7FAA63F332</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C70A68F8-B7A0-4B65-970C-18A0C629BD68</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECD12480-A60D-4421-893A-E62FEF59519A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EECE70F3-B7C2-4FF6-B5D0-0764B84018E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F540894A-B61F-4D9F-9804-8EB2E27E9004</key>
		<dict>
			<key>Row</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array/>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {488, 224}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {812, 614}}</string>
		<string>{{813, 0}, {311, 614}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 32}, {531.33333333333326, 372}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>-2471 290 1342 672 -3000 -42 1920 1057 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
